<div class="product-card">
  <div class="product-card__image">
    <a href="{{ product.url }}" class="product-card__link">
      {% if product.featured_image != blank %}
        <img 
          src="{{ product.featured_image | image_url: width: 600 }}" 
          alt="{{ product.title | escape }}"
          loading="lazy"
        >
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </a>
  </div>
  <div class="product-card__content">
    {% if show_vendor %}
      <div class="product-card__vendor">{{ product.vendor }}</div>
    {% endif %}
    <h3 class="product-card__title">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h3>
    <div class="product-card__price">
      {% if product.compare_at_price > product.price %}
        <span class="price-item price-item--sale">
          {{ product.price | money }}
        </span>
        <span class="price-item price-item--regular">
          <s>{{ product.compare_at_price | money }}</s>
        </span>
      {% else %}
        <span class="price-item">
          {{ product.price | money }}
        </span>
      {% endif %}
    </div>
  </div>
</div>
